body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    text-align: center;
    padding-top: 20px;
    border: 1px solid white;
    width: 500px;
    border-radius: 50px;
    height: auto;
    margin: 200px auto;
}

h1 {
    color: #ffffff;
    text-shadow: 0 0 5px white;
}

input[type="number"] {
    width: 29px;
    height: 30px;
    padding: 10px;
    margin: auto 10px auto auto    ;
    border-radius: 50px;
    transition: 0.3s ease;
}

input[type="number"]:hover{
    width: 33px;
}

.numero{
    display: flex;
    align-items: center;
    padding: 0 400px 0 180px;
}

.converter {
    padding: 10px 20px;
    width: 100px;
    text-align: center;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50px;
    transition:  0.3s ease;
}

.converter:hover {
    background-color: #00fffb;
    box-shadow: 0 0 10px #00fffb;
}

#resultado {
    color: white;
    font-size: 18px;
    margin: 50px auto;
}

.limpar{
    background-color: #df0000;
    padding: 10px 20px;
    width: 100px;
    border-radius: 50px;
    color: white;
}